/* background-color: rgba(254,222,62,255); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

div.logo {
  width: 20%;
}

.logo {
  width: 100%;
  height: auto;
  padding: 8px 0 0 5vw;
}

.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-options {
  padding: 8px 5vw 0 0;
  display: flex;
  width: 80%;
  list-style: none;
}

ul {
  display: flex;
  justify-content: end;
}

li {
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME  */
.home {
  padding: 5vw 5vw 6vw 5vw;
  width: 100vw;
  height: 60vh;
  background-image: url("/assets/headerr.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-text{
    display: flex;
    flex-direction: column;
    border: 20px double rgba(254,222,62,255);
    background-color: white;
    padding: 5%;
    border-radius: 100px 10px 100px 10px;
}

#home-text-h1 {
    padding-bottom: 10px;
}

/* OUR PROFILE */
/* INTRO */
.our-profile {
  width: 100vw;
}

.intro {
    display: flex;
    width: 100vw;
    height: 60vh;
    position: relative;
}

.intro-img {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img{
    width: 50%;
    position: relative;
}

.floating-div {
    position: absolute;
    border: 10px ridge rgba(254,222,62,255);
}

#floating-div1 {
    top: 100px;
    left: 5%;
    width: 100px;
    height: 100px;
    border-color: black;
}

#floating-div2{
    top: 50px;
    left: 10%;
    width: 90px;
    height: 90px;
}

#floating-div3{
    top: 25px;
    left: 15%;
    width: 80px;
    height: 80px;
    border-color: black;
}

#floating-div4{
    bottom: 25px;
    left: 15%;
    width: 80px;
    height: 80px;
}

#floating-div5{
    bottom: 50px;
    left: 10%;
    width: 90px;
    height: 90px;
    border-color: black;

}

#floating-div6 {
    bottom: 100px;
    left: 5%;
    width: 100px;
    height: 100px;
}

.intro-text {
    padding: 5rem;
    border-radius: 50px 0 0 50px;
    background-color: rgba(254,222,62,255);
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
}

#intro-section {
    padding-top: 2rem;
}

.revou-values-container{
    background-color: black;
    padding: 2rem 10rem 2rem 10rem;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.revou-values-container h1{
   font-size: 48px;
   padding-bottom: 2%;
}

/* REVOU VALUES */
.revou-values {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 80vh;
}

.revou-values-point{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px dashed rgba(254,222,62,255);
    border-radius: 20px;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
}

.revou-values-point:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px) ;
}

.star{
    width: 50px;
    height: 50px;
    align-self: baseline;
    padding-bottom: 10px;
}

/* PORTFOLIO */
.portfolio{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-title{
    width: 100vw;
    height: 10%;
    padding: 1rem;
    background-color: rgba(254,222,62,255);;
    text-align: center;
}

.portfolio-results{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90%;
}

.card{
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 darkgrey;
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.portfolio-img{
    width: 100%;
    height: 40%;
}

.card .container{
    padding: 1rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .button {
    padding: 1rem 0.5rem;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}

.card .button:hover{
    background-color: rgba(254,222,62,255);
}

/* HQ */
.hq {
    width: 100vw;
    height: 50vh;
    background-color: rgba(254,222,62,255);
}

.hq-place-container{
    width: 100%;
    height: 80%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hq-place{
    padding-bottom: 4rem;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hq-middle{
    padding-bottom: 0;
    padding-top: 2rem;
}

.hq-place img{
    width: 50%;
    border-radius: 50%;
    padding-bottom: 1rem;
}

