/* background-color: rgba(254,222,62,255); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: black;
}

div.logo {
  width: 20%;
}

.logo {
  width: 100%;
  height: auto;
  padding: 8px 0 0 5vw;
}

.logo img {
  width: 10rem;
  height: 1.5rem;
  cursor: pointer;
}

.navbar-options {
  padding: 8px 5vw 0 0;
  display: flex;
  width: 80%;
  list-style: none;
}

ul {
  display: flex;
  justify-content: end;
}

li {
  margin: 0 1rem;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME  */
.home {
  padding: 5vw 5vw 6vw 5vw;
  width: 100vw;
  height: 60vh;
  background-image: url("/assets/single-lamp.jpg");
  background-size: cover;
  background-position: 500px 800px;
  display: flex;
  align-items: center;
  position: relative;
}

.home-text{
    display: flex;
    flex-direction: column;
    border: 20px double rgba(254,222,62,255);
    color: white;
    padding: 5%;
    /* border-radius: 100px 10px 100px 10px; */
}

#home-text-h1 {
    padding-bottom: 10px;
}

/* OUR PROFILE */
/* INTRO */
.our-profile {
  width: 100vw;
}

.intro {
    display: flex;
    width: 100vw;
    height: 60vh;
    position: relative;
}

.intro-img {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img img{
    height: 200px;
    width: 300px;
    position: absolute;
}

#intro-img1{
    top: 100px;
}


#intro-img2 {
    top: 200px;
    left: 10px;
}

.floating-div {
    position: absolute;
    border: 10px ridge rgba(254,222,62,255);
}

#floating-div1 {
    top: 100px;
    left: 5%;
    width: 300px;
    height: 300px;
    border-color: black;
}

.intro-text {
    padding: 5rem;
    border-radius: 50px 0 0 50px;
    background-color: rgba(254,222,62,255);
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
}

#intro-section {
    padding-top: 2rem;
}



/* basic-core */
.basic-core{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-core-title{
    width: 100vw;
    height: 10vh;
    padding: 1rem;
    background-color: rgba(254,222,62,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-core-results{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 40vh;
}

.card{
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 darkgrey;
    height: 70%;
    width: 20%;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.card .container{
    padding: 2rem 1rem 2rem 2rem;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basic-core-img{
    padding: 1rem 2rem 1rem 1rem;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.basic-core-img img{
    width: 100%;
    height: 50%;
}


/* vision-mission */
.vision-mission-container{
    background-color: black;
    padding: 2rem 10rem 2rem 10rem;
    color: white;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vision-mission-container h1{
   font-size: 36px;
}

#vision-mission-title{
    height: 10vh;
}

#vision{
    width: 100%;
    height: 10vh;
}

.vision-mission {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 50vh;
}

.vision-mission-point{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px dashed rgba(254,222,62,255);
    border-radius: 20px;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
}

.vision-mission-point:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px) ;
}

.star{
    width: 50px;
    height: 50px;
    align-self: baseline;
    padding-bottom: 10px;
}

/* PRODUCT */
.product{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CLIENT */
.client{
    background: lightgreen;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-list{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* PROJECT */
.project{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MESSAGE US */
.message-us{
    background-color: lightblue;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.form-container{
    display: flex;
    width: 100%;
    height: 50vh;
}

.input-form{
    border: 1px solid black;
    height: 100%;
    width: 50%;
}

.output-form{
    border: 1px solid black;
    height: 100%;
    width: 50%;
}

